body
  color #fff
  margin 1em
  padding 0
  font-family "Droid Sans"
  // background-image -ms-radial-gradient(center, ellipse farthest-corner, #535A66 0%, #2F333B 100%)

  // background-image -moz-radial-gradient(center, ellipse farthest-corner, #535A66 0%, #2F333B 100%)

  // background-image -o-radial-gradient(center, ellipse farthest-corner, #535A66 0%, #2F333B 100%)

  // background-image -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #535A66), color-stop(100, #2F333B))

  // background-image -webkit-radial-gradient(center, ellipse farthest-corner, #535A66 0%, #2F333B 100%)

  // background-image radial-gradient(ellipse farthest-corner at center, #535A66 0%, #2F333B 100%)
  background #535a66
header
  padding 1em
  margin-bottom 1em

.content
  padding 1em
  font-family Oswald

.gray
  background rgba(0,0,0, .5)

.darkgray
  background rgba(0,0,0, .6)

.mineral-info
  display flex
  flex 1 1 auto
  align-items center
  justify-content space-between
  .name
    background rgb(250,100,0)
    flex 1 1 content
    padding 1em
  .cost
    flex 1 1 auto